.course-page {
    margin: 24px auto auto auto;
    width: 90%;
}

@media (min-width: 62rem){
    .course-page {
        width: 50vw;
    }
}
.cards-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap";
}