:root {
    --background: "#173753";
    --buttons: "#2892D7";
    --flashcard: "#1B4353";
    --iceberg: "#6DAEDB";
    --honolulu: "#1D70A2";
}

body {
    margin: 0;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@200;500&family=Rubik&display=swap');
    font-family: 'Rubik', sans-serif;
    background: #173753;
    color: #d5d1d1;
}

.page-title {
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500&family=Rubik&display=swap');
    font-family: 'Rubik', sans-serif;
    margin: 12px;
    padding: 20px;
}

.plain-text {
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    padding: 4px;
}

.link {
    color: honeydew;
    text-decoration: none;
    cursor: pointer;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px;
    border-radius: 10px;
}

.button:hover {
    cursor: pointer;
}
